.label.textLabel  {
	-fx-border-width:0.5px;
	-fx-border-color:gray;
	-fx-border-radius:5;
}

.pagination {
	-fx-padding:5, 0, 0, 0; 
}

.root {
	
}  

.failed{
	-fx-background-color: red;
}

#failed {
	-fx-background-color: red;
}